/.DS_Store
/regalo-spa/.DS_Store
/regalo-spa/frontend/.DS_Store
/regalo-spa/frontend/static/.DS_Store
/regalo-spa/frontend/static/images/.DS_Store
/regalo-spa/frontend/static/images/services/.DS_Store