@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --dark: #1c1e23;
  --light: #fcfcfc;
  --yellow: #e4b44c;
  --light-yellow: #edce8b;
  --dark-yellow: #55451b;
  --grey: #7c7c7c;
  --light-grey: #b4b4b4;
  --whatsapp: #25d366;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: "Outfit", sans-serif;
  color: var(--light);
  background: var(--dark);
  overflow-x: hidden;
  filter: none;
}

/* navbar */

.nav {
  /* min-width: 100%; */
  position: sticky;
  top: 0;
  z-index: 980;
  padding-left: 96px;
  padding-right: 96px;
  background: var(--dark);
  border-bottom: 1px solid #7c7c7c;
}

/* navbar >> items */
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

/* navbar >> item */
nav li {
  height: 60px;
}

/* navbar >> text */
nav a {
  height: 100%;
  display: flex;
  padding: 0 30px;
  text-decoration: none;
  color: var(--light);
  font-weight: 200;
  align-items: center;
  white-space: nowrap;
}

/* navbar >> logo */
nav li:first-child {
  margin-right: auto;
}

.nav__link:hover,
.nav__link:focus-within {
  background: rgba(255, 255, 255, 0.05);
  font-weight: 500;
}

/* navbar >> sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 990;
  background: var(--dark);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* navbar >> sidebar >> item */
.sidebar li {
  width: 100%;
}

/* navbar >> sidebar >> text */
.sidebar a {
  width: 100%;
}

/* navbar >> menu button */
.menu-button {
  display: none;
}

/* navbar >> contact button */
#contact-us {
  background-color: var(--yellow);
  font-weight: 400;
  color: var(--dark);
}

#contact-us:hover,
#contact-us:focus-within {
  font-weight: 500;
  color: var(--light);
}

/* App Component */

#wrapper {
  max-width: 1400px;
  margin-inline: auto;
}

/* Pages Heading >> H1 */
.container-heading {
  text-align: center;
  padding: 84px 0;
  font-size: 48px;
  color: var(--light);
}

/* Home page */
.homepage-container {
  padding: 15% 10%;
  text-align: center;
  font-size: 240%;
  text-transform: none;
  min-height: 60vh;
}

/* Home page >> Button/SVG */
.homepage-container .svg-homepage {
  padding-top: 20%;
}

/* Service Page */

.services-container {
  padding: 15%;
}

.services-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 36px;
  row-gap: 52px;
}

/* Service Page >> Card */
.card {
  border-radius: 8px;
  background: var(--light);
  color: var(--dark);
  text-transform: none;
  height: 400px;
  overflow: hidden;
  transition: transform 500ms ease;
  padding-bottom: 6px;
}

.card:hover,
.card:focus-within {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

/* Service Page >> Card >> Image */
.card img {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 330px;
  object-fit: cover;
  object-position: top 0 right 100px;
}

/* Service Page >> Card >> Content */
.card-content {
  padding: 20px;
  background: var(--light);
  transform: translateY(0%);
  transition: transform 500ms ease;
}

.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(-65%);
}

.card-content > *:not(.card-content h3) {
  opacity: 0;
  transition: 500ms linear;
}

.card:hover .card-content > *:not(.card-content h3),
.card:focus-within .card-content > *:not(.card-content h3) {
  opacity: 1;
}

.card:focus-within .card-content {
  transition-duration: 0ms;
}

/* Service Page >> Card >> Content >> Title */
.card-content h3 {
  padding-bottom: 24px;
  font-weight: 500;
  position: relative;
}

/* Service Page >> Card >> Content >> Text */
.card-content p {
  padding-bottom: 24px;
  line-height: 1.5;
  font-size: 14px;
  text-transform: none;
}

/* Service Page >> Card >> Content >> Button */
.card-content .openModal {
  display: inline-block;
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border: 1.5px solid var(--dark);
}

.card-content .openModal:hover,
.card-content .openModal:focus-within {
  scale: 1.03;
  color: var(--light);
}

.card-content .openModal:active {
  background-color: var(--dark-yellow);
}

/* Service Page >> Modal */

.modal {
  position: sticky;
  bottom: 20%;
  left: 20%;
  padding: 2em;
  max-width: 50ch;
  max-height: 75ch;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);

  & > * {
    margin: 0 0 1rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.modal .modal-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.modal .modal-service-text {
  max-width: 90%;
  padding-bottom: 20px;
}

.modal h3 {
  color: var(--dark-yellow);
  font-size: 20px;
  align-items: center;
}

.modal .modal-buttons {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.modal .modal-buttons #modal-contact-btn {
  display: inline-block;
  padding: 16px;
  margin-right: 20px;
  background-color: var(--yellow);
  color: var(--light);
  text-decoration: none;
  font-weight: 400;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.modal .modal-buttons #modal-wpp-btn {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--whatsapp);
  color: var(--light);
  text-decoration: none;
  font-weight: 400;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.modal .modal-buttons #modal-wpp-btn svg {
  left: 0;
  padding-right: 12px;
}

.modal .modal-buttons #modal-contact-btn:hover,
.modal .modal-buttons #modal-contact-btn:focus {
  scale: 1.03;
  background-color: #a48136;
}

.modal .modal-buttons #modal-wpp-btn:hover,
.modal .modal-buttons #modal-wpp-btn:focus {
  scale: 1.03;
  background-color: #198541;
}

.modal .modal-buttons #modal-wpp-btn:active {
  background-color: #2dec73;
}

.modal .modal-buttons #modal-contact-btn:active {
  background-color: #f2be50;
}

/* Contact-us Page */

.contact-page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  alight-items: center;
  text-transform: none;
}

.contact-page-container .contact-info {
  display: flex;
  padding: 40px;
  flex-direction: column;
  min-width: 350px;
  height: 556px;
  border: 1px solid #d9d9d9;
}

.contact-page-container .contact-info .message h2 {
  font-size: 32px;
  padding-top: 36px;
  color: var(--yellow);
}

.contact-page-container .contact-info .message p {
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 24px;
  max-width: 350px;
}

.contact-page-container .contact-info .message h3 {
  font-size: 18px;
  padding: 18px 0;
  text-transform: uppercase;
}

.contact-page-container .contact-info .box {
  position: relative;
  padding: 6px 0;
  display: flex;
}

.contact-page-container .contact-info .box .icon {
  min-width: 60px;
  height: 60px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  aling-items: center;
}

.contact-page-container .contact-info .box .text {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
}

.contact-page-container .contact-info .box .text h3 {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 500;
}

.contact-form {
  min-width: 350px;
  height: 100%;
  padding: 40px;
  background: #d9d9d9;
}

.contact-form h2 {
  font-size: 32px;
  color: var(--dark);
  padding-bottom: 10px;
  margin-top: 36px;
}

.contact-form .name-phone {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-form .name-phone .input-box {
  position: relative;
  width: 45%;
  margin-top: 12px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 12px;
}

.contact-form .input-box input,
.contact-form .input-box textarea,
.contact-form .input-box select {
  width: 100%;
  padding: 12px 0;
  font-size: 14px;
  margin: 12px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background: none;
}

.contact-form .input-box textarea {
  padding: 42px 0;
}

.contact-form .input-box span {
  position: absolute;
  left: 5px;
  padding: 10px 0;
  font-size: 16px;
  margin: 12px 0;
  pointer-events: none;
  transition: 0.5s;
  color: var(--grey);
  z-index: 800;
}

.contact-form .input-box select {
  font-size: 16px;
  margin: 12px 0;
  color: var(--dark);
  z-index: 800;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: var(--yellow);
  font-size: 14px;
  transform: translateY(-25px);
}

.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: var(--yellow);
  color: var(--light);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contact-form .input-box input[type="submit"]:hover,
.contact-form .input-box input[type="submit"]:focus {
  color: var(--dark);
}

/* Views */

@media (max-width: 1050px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }

  .nav {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 880px) {
  .homepage-container {
    font-size: 32px;
  }
  .contact-page-container {
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  .homepage-container,
  .container-heading {
    font-size: 24px;
  }

  .contact-page-container {
    flex-direction: column;
  }

  .contact-page-container .contact-info {
    flex-direction: column;
    height: 500px;
  }

  .contact-page-container .contact-info .message h2 {
    font-size: 24px;
    padding-top: 18px;
  }

  .contact-page-container .contact-info .message p {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 18px;
  }

  .contact-page-container .contact-info .message h3 {
    font-size: 14px;
    padding: 12px 0;
  }

  .contact-form h2 {
    font-size: 24px;
    margin-top: 18px;
  }

  .contact-form .input-box input,
  .contact-form .input-box textarea,
  .contact-form .input-box select {
    font-size: 12px;
  }

  .contact-form .input-box textarea {
    padding: 36px 0;
  }

  .contact-form .input-box span {
    font-size: 14px;
  }

  .contact-form .input-box select {
    font-size: 14px;
  }

  .contact-form .input-box input[type="submit"] {
    font-size: 14px;
  }
}

@media (max-width: 545px) {
  .homepage-container,
  .container-heading {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: 30%;
  }
}
