@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --clr-background-dark: #1c1e23;
  --clr-neutral-1: #fcfcfc;
  --clr-neutral-2: #e4b44c;
  --clr-neutral-3: #edce8b;
  --clr-neutral-4: #55451b;
  --clr-neutral-5: #7c7c7c;
  --clr-neutral-6: #b4b4b4;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  color: var(--clr-neutral-1);
  background: var(--clr-background-dark);
  overflow-x: hidden;
}

/* navbar */

.nav {
  margin: 0 96px;
  position: sticky;
  z-index: 990;
  padding-left: 96px;
  padding-right: 96px;
  background: var(--clr-background-dark);
  border-bottom: 1px solid #7c7c7c;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  height: 60px;
}

nav a {
  height: 100%;
  display: flex;
  padding: 0 30px;
  text-decoration: none;
  color: var(--clr-neutral-1);
  font-weight: 200;
  align-items: center;
  white-space: nowrap;
}

nav li:first-child {
  margin-right: auto;
}

.nav__link:hover,
.nav__link:focus-within {
  background: rgba(255, 255, 255, 0.05);
  font-weight: 500;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: var(--clr-background-dark);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

#contact-us {
  background-color: var(--clr-neutral-2);
  font-weight: 400;
  color: var(--clr-background-dark);
}

#contact-us:hover,
#contact-us:focus-within {
  font-weight: 500;
  color: var(--clr-neutral-1);
}

/* App component */

#app {
  margin: 0 96px;
  font-family: "Outfit", sans-serif;
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  tect-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

.container-heading {
  text-align: center;
  padding: 84px 0;
  font-size: 48px;
  color: var(--clr-neutral-1);
}

/* Home page */

.homepage-container {
  margin: 84px;
  padding: 84px;
  text-align: center;
  font-size: 38px;
  text-transform: none;
}

.svg-homepage {
  margin-top: 200px;
}

/* Service view return */

.services-container {
  padding: 15px 9%;
  filter: none;
  /* filter: blur(20px); */
}

.services-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  column-gap: 24px;
  row-gap: 52px;
}

.card {
  border-radius: 8px;
  background: var(--clr-neutral-1);
  color: var(--clr-background-dark);
  text-transform: none;
  height: 400px;
  overflow: hidden;
  transition: transform 500ms ease;
  padding-bottom: 6px;
}

.card:hover,
.card:focus-within {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.card img {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 330px;
  object-fit: cover;
  object-position: top 0 right 100px;
}

.card-content {
  padding: 20px;
  background: var(--clr-neutral-1);
  transform: translateY(0%);
  transition: transform 500ms ease;
}

.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(-65%);
}

.card-content > *:not(.card-content h3) {
  opacity: 0;
  transition: 500ms linear;
}

.card:hover .card-content > *:not(.card-content h3),
.card:focus-within .card-content > *:not(.card-content h3) {
  opacity: 1;
}

.card:focus-within .card-content {
  transition-duration: 0ms;
}

.card-content h3 {
  padding-bottom: 24px;
  font-weight: 500;
  position: relative;
}

.card-content p {
  padding-bottom: 24px;
  line-height: 1.5;
  font-size: 14px;
  text-transform: none;
}

.card-content .btn {
  margin-bottom: 0;
  display: inline-block;
  background: var(--clr-neutral-2);
  color: var(--clr-background-dark);
  font-size: 12px;
  border-radius: 6px;
  padding: 0.5em 1.5em;
  text-decoration: none;
}

.card-content .btn:hover,
.card-content .btn:focus-within {
  letter-spacing: 0.5px;
}

/* Modal */

.modal {
  padding: 1em;
  max-width: 50ch;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

/* Contact-us Component */

.contact-page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  alight-items: center;
  text-transform: none;
}

.contact-page-container .contact-info {
  display: flex;
  padding: 40px;
  flex-direction: column;
  min-width: 350px;
  height: 556px;
  border: 1px solid #d9d9d9;
}

.contact-page-container .contact-info .message h2 {
  font-size: 32px;
  padding-top: 36px;
  /* padding-left: 20px; */
  color: var(--clr-neutral-2);
}

.contact-page-container .contact-info .message p {
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 24px;
  max-width: 350px;
}

.contact-page-container .contact-info .message h3 {
  font-size: 18px;
  padding: 18px 0;
  text-transform: uppercase;
}

.contact-page-container .contact-info .box {
  position: relative;
  padding: 6px 0;
  display: flex;
}

.contact-page-container .contact-info .box .icon {
  min-width: 60px;
  height: 60px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  aling-items: center;
}

.contact-page-container .contact-info .box .text {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
}

.contact-page-container .contact-info .box .text h3 {
  color: var(--clr-neutral-2);
  font-size: 16px;
  font-weight: 500;
}

.contact-form {
  min-width: 350px;
  height: 100%;
  padding: 40px;
  background: #d9d9d9;
}

.contact-form h2 {
  font-size: 32px;
  color: var(--clr-background-dark);
  padding-bottom: 10px;
  margin-top: 36px;
}

.contact-form .name-phone {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-form .name-phone .input-box {
  position: relative;
  width: 45%;
  margin-top: 12px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 12px;
}

.contact-form .input-box input,
.contact-form .input-box textarea,
.contact-form .input-box select {
  width: 100%;
  padding: 12px 0;
  font-size: 14px;
  margin: 12px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background: none;
}

.contact-form .input-box textarea {
  padding: 42px 0;
}

.contact-form .input-box span {
  position: absolute;
  left: 5px;
  padding: 10px 0;
  font-size: 16px;
  margin: 12px 0;
  pointer-events: none;
  transition: 0.5s;
  color: var(--clr-neutral-5);
  z-index: 800;
}

.contact-form .input-box select {
  font-size: 16px;
  margin: 12px 0;
  color: var(--clr-background-dark);
  z-index: 800;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: var(--clr-neutral-2);
  font-size: 14px;
  transform: translateY(-25px);
}

.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: var(--clr-neutral-2);
  color: var(--clr-neutral-1);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contact-form .input-box input[type="submit"]:hover,
.contact-form .input-box input[type="submit"]:focus {
  color: var(--clr-background-dark);
}

/* Views */

@media (max-width: 1050px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }

  .nav {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .app-container {
    padding: 20px;
  }
}

@media (max-width: 880px) {
  .card img {
    object-position: top 0 right 0px;
  }

  .app-container .heading {
    padding: 48px 0;
    font-size: 36px;
  }

  .contact-page-container {
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  .contact-page-container {
    flex-direction: column;
  }

  .contact-page-container .contact-info {
    flex-direction: column;
    height: 500px;
  }

  .contact-page-container .contact-info .message h2 {
    font-size: 24px;
    padding-top: 18px;
  }

  .contact-page-container .contact-info .message p {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 18px;
  }

  .contact-page-container .contact-info .message h3 {
    font-size: 14px;
    padding: 12px 0;
  }

  .contact-form h2 {
    font-size: 24px;
    margin-top: 18px;
  }

  .contact-form .input-box input,
  .contact-form .input-box textarea,
  .contact-form .input-box select {
    font-size: 12px;
  }

  .contact-form .input-box textarea {
    padding: 36px 0;
  }

  .contact-form .input-box span {
    font-size: 14px;
  }

  .contact-form .input-box select {
    font-size: 14px;
  }

  .contact-form .input-box input[type="submit"] {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .nav {
    margin: 0;
  }

  #app {
    margin: 0 48px;
  }

  /* padding do card */
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }

  .app-container {
    padding: 0;
  }

  .app-container .heading {
    font-size: 24px;
  }
}
