@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap");
}

/* body {
    background: hsl(223 11% 12%);
}

nav {
    color: #FCFCFC;
}

.mobile-nav-toggle {
    display: none;
}

.logo {
    margin: ;
    margin-left: 10%;
    height: 30%;
    width: 30%;
}

.flex{
    display: felx;
    gap: var(--gap, 1rem);
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.primary-navigation {
    display: flex;
    list-style: none;
    padding: 0;
    marign: 0;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-wheight: 700;
    margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 3em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: hsl(0 0% 0% / 0.1);
        backdrop-filter: blur(1rem);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: red;
        width: 1rem;
        height: 1rem;
        top: 2rem;
        right: 2rem;
    }
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
} */
